<mat-card class="example-card">
  <mat-card-content>



<p *ngIf="!(authService.user | async)">
  <a routerLink = "/register">register</a> or <a routerLink = "/login">login</a> to manage your reading list
</p>


<form class="example-form" *ngIf="(authService.user | async)">
    <h1>Welcome {{ nickname }}!</h1>


    <div>
        <mat-form-field class="example-form ">
            <input [(ngModel)]="text1" name="text1" matInput placeholder="name of book" value="">
          </mat-form-field>
        <br>
        <mat-form-field class="example-form ">
            <input [(ngModel)]="text2" name="text2" matInput placeholder="name of author" value="">
          </mat-form-field>
          <br>
            <button mat-raised-button (click) = "addTodo()"> Add Book </button>
       </div>


       <p>your books are:</p>
   <ul>
      <item *ngFor = "let item of items" [data] = "item"></item>
    </ul>

    
  </form>


</mat-card-content>
</mat-card>
